main {
	width: 100%;
	padding: 0 17.7%;
}
.main__search-container {
	display: flex;
	justify-content: space-between;

	.main__search {
		display: flex;
		align-items: center;
		width: fit-content;
		background-color: var(--secondary-color);
		border-radius: var(--border-radius-small);
		padding: var(--input-padding);
		margin-bottom: var(--spacing-large);

		.main__input-search {
			width: 16rem;
			color: var(--text-color);
			background-color: var(--secondary-color);
			border: none;
			outline: none;
			box-shadow: none;
		}
	}
	.main__filter {
		list-style: none;
		display: flex;
		gap: var(--spacing);
		height: fit-content;

		li {
			display: flex;
			align-items: center;

			button {
				display: flex;
				align-items: center;
				gap: 0.25rem;
				background-color: var(--secondary-color);
				border: none;
				border-radius: var(--border-radius-small);
				padding: var(--padding-small);
				cursor: pointer;
				transition: transform 0.2s;
			}
			button:hover {
				transform: scale(1.04);
			}
		}
	}
}
.main__container {
	.main__character-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 18.375rem);
		row-gap: var(--spacing);
		column-gap: var(--spacing);
		margin-bottom: var(--spacing-large);

		img {
			border-radius: var(--border-radius);
		}

		.main__character-name {
			font-weight: 700;
		}

		.main__character-info {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: var(--spacing-small);

			li {
				display: flex;
				align-items: center;
				gap: 0.25rem;
			}
		}

		.main__character-buttons {
			display: flex;
			justify-content: space-between;

			.main__character-info-btn {
				display: flex;
				align-items: center;
				gap: 0.25rem;
				background-color: transparent;
				border: transparent;
				cursor: pointer;
			}
		}
	}

	.main__global-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 24.8rem);
		row-gap: var(--spacing);
		column-gap: var(--spacing);
		margin-bottom: var(--spacing-large);

		.main__global-icon {
			display: flex;
			justify-content: space-between;

			.bx-movie-play, .bx-planet {
				font-size: var(--font-size-large);
			}
		}

		.main__global-name {
			font-weight: 700;
		}

		.main__global-date {
			display: flex;
			gap: var(--spacing-medium);
		}
		.main__global-info {
			display: flex;
			align-items: center;
			gap: 0.25rem;
		}
	}
}
/* Classes reutilizáveis */
.main__title {
	font-size: var(--font-size-medium);
	font-weight: 700;
	margin-bottom: var(--spacing-medium);
}
.main__card {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	padding: var(--padding-medium);
	box-shadow: var(--box-shadow);
}
.main__nav {
	display: flex;
	justify-content: center;
	gap: var(--spacing-small);
	margin-bottom: var(--spacing-large);

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		gap: var(--spacing);

		li {
			padding: var(--padding-medium);
			border: 1px solid var(--text-color);
			border-radius: 50%;
		}
	}

	.main__nav-btn {
		display: contents;
		cursor: pointer;

		.bx-chevron-right,
		.bx-chevron-left {
			font-size: var(--font-size-large);
		}
	}
}
.main__active-page {
	padding: var(--padding-medium);
	border: 1px solid var(--primary-color) !important;
	border-radius: 50%;
	background-color: var(--primary-color);
}
.main__fav-btn {
	display: contents;
	cursor: pointer;

	.bx-heart {
		font-size: var(--font-size-large);
	}
}
